@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido: @ViewData["username"]</h1>
    <h2>Email: @ViewData["email"]</h2>
    <p>Token activo: @ViewData["token"]</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
